@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

.navbar{
    background-color: yellow;
    padding: 10px 0px !important;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 9999;
}
a.navbar-brand {
    font-size: 30px;
    font-weight: bold;
}
li.nav-item {
    padding: 0px 5px;
    margin: 0px 5px;
}

li.nav-item a {
    text-transform: uppercase;
    font-weight: 600;
    color: black !important;
}



/* home */
#home{
    margin-top: 75px;
    padding: 50px 0px;
    background-color: #F5DF4E;
}
.home-div{
    height: 100%;
}
.home-img img{
    width: 80%;
    border-radius: 50% !important;
    border: 10px solid white;
}
.home-div {
    height: 100%;
}

.home-text h3 {
    font-size: 3vw;
}

.home-div h1 {
    font-size: 8vw;
    padding: 0% !important;
}

.home-text h6 {
    font-size: 1.5vw;
}
.btn-home {
    padding: 14px 35px;
    background: black;
    color: white;
    border-radius: 0;
    font-size: 20px;
    border: 2px solid rgba(0, 0, 0, 0) !important;
}
.btn-home:hover{
    color: black ;
    border: 2px solid black !important;
    background-color: #aea15082 !important;
}

.home-button-div {
    margin-top: 20px;
}


/* about */
#about{
    padding: 50px 0px;
}
.section-div h6 {
    display: inline-block;
    background-color: #F5DF4E;
    padding: 4px;
}
.section-div h1{
    font-family: 'Poppins', sans-serif;
}
.about-div h1{
    font-size: 30px;
    font-family: 'Poppins', sans-serif;
}
.about-div h5 {
    font-family: cursive;
}
.exp-div.text-center h1 {
    font-size: 87px;
    font-weight: bold;
    font-family: 'Poppins';
}

.exp-div.text-center h3 {
    font-size: 30px;
    font-family: 'Poppins';
    font-weight: 600;
}
.dec-div p {
    color: #6c757d;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 9px;
}

.dec-div h4 {
    font-size: 21px;
}

/* what */
#what{
    padding: 50px 0px;
    background-color: #F8F9FA;
}
.what-card{
    background-color: rgba(255, 255, 255, 0);

}
.what-card {
    padding: 20px 5px;
    border: none;
}

.what-div {
    margin: 5px 10px;
}

.card-body h5 {
    font-size: 25px;
    font-family: 'Poppins';
    font-weight: 600;
    margin-bottom: 20px;
}

.card-body p {
    font-size: 15px;
    color: #6c757d;
    line-height: 1.8;
    font-weight: 500;
}
.what-card p span {
    font-size: 45px;
    color: #f5df4e;
}

/* resume */
#resume{
    padding: 50px 0px;
}
.my-ed{
    font-size: 30px;
    font-family: 'Poppins';
    font-weight: 500;
    margin-bottom: 20px;
}
.resum-div {
    margin: 5px 0px;
    line-height: 1.8;
    
    padding-left: 14px;
}

.resum-div h3 {
    font-size: 23px;
    color: black;
    font-weight: 600;
}
.ed-sm-text {
    font-size: 17px;
    font-weight: 400;
    font-family: 'Poppins';
}
.ed-lg-text{
    color: #6c757d;
}
.rec-min-div{
    border-left: 3px solid #f5df4e;
}

/* mySkill */
#mySkill{
    padding: 30px 0px;
}
.text-end {
    float: right;
}
.progress {
    height: 10px;
}
.progress-bar {
    background: #F5DF4E;
}
.w-65{
    width: 65%;
}
.w-95{
    width: 95%;
}
.w-80{
    width: 80%;
}
.w-70{
    width: 70%;
}
.w-60{
    width: 60%;
}
.w-99{
    width: 99%;
}
.text-start {
    margin-bottom: 8px;
    color: black;
    font-family: emoji;
    font-weight: 600;
}
.btn-download {
    background: white;
    color: black;
    padding: 15px 40px;
    border: 2px solid black;
    border-radius: 0%;
    font-weight: 600;
}
.btn-download{
    font-weight: 600;
    transition: 0.5s;
}


/* portfolio */
#portfolio{
    padding: 50px 0px;
    background-color: #F8F9FA;
}
.protflio-button {
    text-align: center;
}
.prot-button {
    padding: 5px 10px;
    color: #6c757d;
    font-weight: 700;
    border: none;
}
.prot-button:hover{
    border: none;
    color: black;
    font-weight: 700;
}
.prot-img{
    width: 90%;
}

/* client */
#client{
    padding: 50px 0px;
    background-color: #6c757d;
}
.slid-item img{
    width: 100px !important;
    border-radius: 50%;
}
.slid-item.text-center {
    font-size: 20px;
    font-family: cursive;
    font-weight: 500;
    padding: 5px 20px;
}

.slid-item h5 {
    color: white;
}
.slid-item h6{
    color: #dee3e4;
}

/* contact */
#contact{
    padding: 50px 0px;
    background-color: #F5DF4E;
}
.contact-div h1 {
    font-size: 35px;
    font-family: 'Poppins';
    font-weight: 600;
    margin-bottom: 35px;
}

.contact-div h4 {
    font-size: 20px;
    line-height: 1.7;
    font-family: 'Poppins';
}
.contact-div h5 {
    font-size: 24px;
    font-family: 'Poppins';
}

.contact-div h6 {
    font-size: 16px;
    font-family: 'Poppins';
}
.socal-div a {
    font-size: 25px;
    padding: 10px;
    color: #6c757d;
}
.socal-div a:hover{
    color: red;
}
/* Footer */
#footer{
    padding: 50px 0px;
    background-color: black;
    color: white;
}

.contact-div form label {
    font-size: 20px;
    margin-bottom: 25px;
    font-weight: 500;
    margin: 10px 0px;
}

input.form-control.form-control-lg {
    background: none;
    border: none;
    border-bottom: 2px solid black;
    border-radius: 0%;
}



/* Medi Quary Big */
@media only screen and (min-width: 575px) and (max-width: 990px){
    .home-div{
        text-align: center;
        justify-content: center;
    }
    .home-img{
        margin-top: 10px;
    }
}
/* Medi Quare */
@media only screen and (min-width: 200px) and (max-width: 575px){
    .home-div{
        text-align: center;
        justify-content: center;
    }
    .home-text h3 {
        font-size: 5vw;
    }
    .home-div h1 {
        font-size: 12vw;
        padding: 0% !important;
    }
    .home-text h6 {
        font-size: 4vw;
    }
    .home-img{
        margin-top: 10px;
    }
    .btn-home{
        margin-bottom: 5px;
    }
    div#MixItUpC5ED7A {
        justify-content: center;
        margin: auto;
    }
}